* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-div {
    background-color: red;
    display: flex;
}
.aside-div {
    background-color: yellow;
}
.right-div__top {
    flex: 1;
    background-color: aqua;
}
.right-div__bottom {
    flex: 2;
    background-color: blue;
}
